@import "tailwindcss";
@import "tw-animate-css";
/* For applying Streamdown styles */
@source "../node_modules/streamdown/dist/index.js";

@custom-variant dark (&:is(.dark *));

:root {
  letter-spacing: -0.015em;
  line-height: 1.75;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  font-variation-settings: "opsz" auto;
  text-size-adjust: none;
  isolation: isolate;

  --gray-1: oklch(99.3% 0 0);
  --gray-2: oklch(98.7% 0 0);
  --gray-3: oklch(95.3% 0 0);
  --gray-4: oklch(93.2% 0 0);
  --gray-5: oklch(91% 0 0);
  --gray-6: oklch(89.6% 0 0);
  --gray-7: oklch(86.3% 0 0);
  --gray-8: oklch(80.2% 0 0);
  --gray-9: oklch(99.9% 0 0);
  --gray-10: oklch(96.6% 0 0);
  --gray-11: oklch(54% 0 0);
  --gray-12: oklch(24.4% 0 0);
}

.dark {
  --gray-1: oklch(17.808% 0.002 286.051);
  --gray-2: oklch(19.616% 0.002 286.056);
  --gray-3: oklch(21.342% 0.002 286.051);
  --gray-4: oklch(23.116% 0.002 286.052);
  --gray-5: oklch(25.236% 0.002 286.044);
  --gray-6: oklch(23.116% 0.002 286.052);
  --gray-7: oklch(25.615% 0.002 286.051);
  --gray-8: oklch(27.7% 0.002 285);
  --gray-9: oklch(20.3% 0.002 286.051);
  --gray-10: oklch(21.82% 0.002 286.055);
  --gray-11: oklch(58.3% 0.002 285);
  --gray-12: oklch(81.3% 0.002 285);
}

@theme inline {
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --radius: 0.25rem;
  --radius-xs: calc(var(--radius) - 0.125rem);
  --radius-sm: var(--radius);
  --radius-md: calc(var(--radius) + 0.15rem);
  --radius-lg: calc(var(--radius) + 0.25rem);
  --radius-xl: calc(var(--radius) + 0.5rem);

  --text-2xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-md: 0.875rem;

  --font-sans: var(--font-inter), system-ui;

  --conversation-width: 48rem;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-gray-6;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  interpolate-size: allow-keywords;
}

body {
  color: var(--color-gray-12);
  background: var(--color-gray-2);
  border-color: var(--color-gray-6);
  min-height: 100svh;
}

div#root {
  position: relative;
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
