@import "tailwindcss";
@import "tw-animate-css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/ruby-dark.css";
/* For applying Streamdown styles */
@source "../node_modules/streamdown/dist/index.js";

@custom-variant dark (&:is(.dark *));

:root {
  letter-spacing: -0.015em;
  line-height: 1.5;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  font-variation-settings: "opsz" auto;
  text-size-adjust: none;
  isolation: isolate;

  --gray-1: oklch(97.3% 0 0);
  --gray-2: oklch(98.4% 0 0);
  --gray-3: oklch(95.3% 0 0);
  --gray-4: oklch(93.2% 0 0);
  --gray-5: oklch(91% 0 0);
  --gray-6: oklch(89.6% 0 0);
  --gray-7: oklch(86.3% 0 0);
  --gray-8: oklch(80.2% 0 0);
  --gray-9: oklch(99.9% 0 0);
  --gray-10: oklch(96.6% 0 0);
  --gray-11: oklch(54% 0 0);
  --gray-12: oklch(24.4% 0 0);
}

.dark {
  --gray-1: oklch(17.3% 0.002 286);
  --gray-2: oklch(19.6% 0.002 286);
  --gray-3: oklch(21.3% 0.002 286);
  --gray-4: oklch(23.1% 0.002 286);
  --gray-5: oklch(25.2% 0.002 286);
  --gray-6: oklch(27.3% 0.002 286);
  --gray-7: oklch(29.1% 0.002 286);
  --gray-8: oklch(31.5% 0.002 286);
  --gray-9: oklch(20.3% 0.002 286);
  --gray-10: oklch(22.7% 0.002 286);
  --gray-11: oklch(58.3% 0.002 285);
  --gray-12: oklch(81.3% 0.002 285);
  /* --gray-1: oklch(17.8% 0.002 286.051);
  --gray-2: oklch(19.6% 0.002 286.056);
  --gray-3: oklch(21.3% 0.002 286.051);
  --gray-4: oklch(23.1% 0.002 286.052);
  --gray-5: oklch(25.2% 0.002 286.044);
  --gray-6: oklch(23.1% 0.002 286.052);
  --gray-7: oklch(25.6% 0.002 286.051);
  --gray-8: oklch(27.7% 0.002 285);
  --gray-9: oklch(20.3% 0.002 286.051);
  --gray-10: oklch(21.8% 0.002 286.055);
  --gray-11: oklch(58.3% 0.002 285);
  --gray-12: oklch(81.3% 0.002 285); */
}

@theme inline {
  --color-jade-1: var(--jade-1);
  --color-jade-2: var(--jade-2);
  --color-jade-3: var(--jade-3);
  --color-jade-4: var(--jade-4);
  --color-jade-5: var(--jade-5);
  --color-jade-6: var(--jade-6);
  --color-jade-7: var(--jade-7);
  --color-jade-8: var(--jade-8);
  --color-jade-9: var(--jade-9);
  --color-jade-10: var(--jade-10);
  --color-jade-11: var(--jade-11);
  --color-jade-12: var(--jade-12);

  --color-ruby-1: var(--ruby-1);
  --color-ruby-2: var(--ruby-2);
  --color-ruby-3: var(--ruby-3);
  --color-ruby-4: var(--ruby-4);
  --color-ruby-5: var(--ruby-5);
  --color-ruby-6: var(--ruby-6);
  --color-ruby-7: var(--ruby-7);
  --color-ruby-8: var(--ruby-8);
  --color-ruby-9: var(--ruby-9);
  --color-ruby-10: var(--ruby-10);
  --color-ruby-11: var(--ruby-11);
  --color-ruby-12: var(--ruby-12);

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --radius: 0.25rem;
  --radius-xs: calc(var(--radius) - 0.125rem);
  --radius-sm: var(--radius);
  --radius-md: calc(var(--radius) + 0.15rem);
  --radius-lg: calc(var(--radius) + 0.25rem);
  --radius-xl: calc(var(--radius) + 0.5rem);

  --text-2xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-md: 0.875rem;

  --font-sans: var(--font-inter), system-ui;
  --font-serif: var(--font-instrument-serif);

  --conversation-width: 48rem;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for IE, Edge and Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-gray-6;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  interpolate-size: allow-keywords;
}

body {
  color: var(--color-gray-12);
  background: var(--color-gray-1);
  border-color: var(--color-gray-6);
  min-height: 100svh;

  ::selection {
    background-color: var(--color-gray-6);
    color: var(--color-gray-12);
  }
}

div#root {
  position: relative;
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.recharts-layer,
.recharts-sector,
.recharts-surface {
  user-select: none;
  outline: none;
}
