@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

:root {
  font-family: 'Inter Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  font-feature-settings:
    'liga' 1,
    'calt' 1;

  font-optical-sizing: auto;

  /* --color-gray-1: oklch(98.5% 0 0deg) */
  --gray-1: oklch(99.3% 0 285);
  --gray-2: oklch(97.3% 0 285);
  --gray-3:oklch(95.6% 0 285);  
  --gray-4: oklch(93.2% 0 285);
  --gray-5: oklch(91% 0 285);
  --gray-6: oklch(89.6% 0 285);
  --gray-7: oklch(86.3% 0 285);
  --gray-8: oklch(80.2% 0 285);
  --gray-9: oklch(99.8% 0 285);
  --gray-10: oklch(97.4% 0 285);
  --gray-11: oklch(54.0% 0 285);
  --gray-12: oklch(24.4% 0 285);
}

.dark {
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
}

@theme inline {
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --radius: 0.25rem;
  --radius-xs: calc(var(--radius) - 0.125rem);
  --radius-sm: var(--radius);
  --radius-md: calc(var(--radius) + 0.15rem);
  --radius-lg: calc(var(--radius) + 0.25rem);
  --radius-xl: calc(var(--radius) + 0.5rem);

  --text-2xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-md: 0.875rem;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-gray-6;
  }


  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}



@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter Variable', sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden !important;
  interpolate-size: allow-keywords;
}

body {
  color: var(--color-gray-12);
  background: var(--color-gray-2);
  border-color: var(--color-gray-6);
  min-height: 100svh;
}

div#root {
  position: relative;
  min-height: 100svh;

}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
